@import "compass/css3";
@import "base/media_query";
@import "base/params";

$ondd-cutoff: 786px;

.ondd-status {
  float: left;
  width: 40%;

  @include narrower-than($ondd-cutoff) {
    float: none;
    width: auto;
  }
}

.ondd-status-panel {
  margin-bottom: 1rem;
}

.ondd-settings {
  margin-left: 40%;
  padding-left: 1rem;

  @include narrower-than($ondd-cutoff) {
    margin-left: 0;
    padding-left: 0;
  }
}

.ondd-file-list {
  // Basic geometry
  margin-bottom: 1rem;

  li {
    // Typography
    white-space: nowrap;

    // Basic geometry
    padding: 0.5rem 0;

    // Styling
    border-bottom: $o-separator-border;

    &:first-child {
      border-top: $o-separator-border;
    }

    .o-progress-mini {
      margin-right: 1rem;
    }
  }
}
